@use '../variables' as *;
@use "../libs/_normalize";

.pizza-block {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &__image {
    margin: 0 3px 0 auto ;
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    vertical-align: middle;
  }

  &__title-icon {
    margin-left: 3px;
    height: 20px;
    vertical-align: middle;

    & + & {
      margin-left: -5px;
    }
  }

  &__title-icon svg {
  }

  &__filling {
    justify-content: center;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include normalize.noselect();

        &.active {
          background: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
