.root {
  position: relative;

  &:focus-within {
    .magnifyingGlassIcon path {
      fill: #fe5f1e;
    }

    .input {
      border-color: #7d7d7d;
    }
  }
}

.magnifyingGlassIcon,
.clearBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.magnifyingGlassIcon {
  left: 14px;
  transition: color 0.25s;
  width: 20px;
  height: 20px;
}

.magnifyingGlassIcon path {
  transition: fill 0.25s;
}

.clearBtn {
  cursor: pointer;
  opacity: 0;
  right: 14px;
  color: #b6b6b6;
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: opacity 0.25s;

  &.visible {
    opacity: 1;
  }

  & path {
    transition: fill 0.25s;
  }

  & svg:hover path {
    fill: #fe5f1e;
  }
}

.clearBtn svg {
  width: 20px;
  height: 20px;
}

.input {
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 12px 44px;
  width: 300px;
  font-size: 16px;
  transition: border-color 0.25s;
}