@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-black.eot');
  src: local('../assets/fonts/Proxima Nova Black'), local('ProximaNova-Black'),
    url('../assets/fonts/proxima-nova-black.woff2') format('woff2'),
    url('../assets/fonts/proxima-nova-black.woff') format('woff'),
    url('../assets/fonts/proxima-nova-black.ttf') format('truetype'),
    url('../assets/fonts/proxima-nova-black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-bold.eot');
  src: local('../assets/fonts/Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../assets/fonts/proxima-nova-bold.woff2') format('woff2'),
    url('../assets/fonts/proxima-nova-bold.woff') format('woff'),
    url('../assets/fonts/proxima-nova-bold.ttf') format('truetype'),
    url('../assets/fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-regular.eot');
  src: local('../assets/fonts/Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../assets/fonts/proxima-nova-regular.woff2') format('woff2'),
    url('../assets/fonts/proxima-nova-regular.woff') format('woff'),
    url('../assets/fonts/proxima-nova-regular.ttf') format('truetype'),
    url('../assets/fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima-nova-extrabold.eot');
  src: local('../assets/fonts/Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('../assets/fonts/proxima-nova-extrabold.woff2') format('woff2'),
    url('../assets/fonts/proxima-nova-extrabold.woff') format('woff'),
    url('../assets/fonts/proxima-nova-extrabold.ttf') format('truetype'),
    url('../assets/fonts/proxima-nova-extrabold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
